body{
font-family: Arial;
background-color:#eef4ff;
margin:40px;
}

h1{
text-align:center;
color:darkblue;
}

h2{
text-align:center;
color:navy;
}

.student{
background-color:#dbe6ff;
padding:15px;
border-radius:8px;
margin-bottom:20px;
}

table{
width:100%;
border-collapse:collapse;
background-color:white;
}

th{
background-color:navy;
color:white;
padding:10px;
border:1px solid black;
}

td{
padding:10px;
border:1px solid gray;
text-align:center;
}

tr:nth-child(even){
background-color:#f2f6ff;
}